.revalay {
  background: #ffc1c1;
  position: absolute;
  width: 100vw;
  height: 50%;
  animation: revheight 1s;
  border: 4px solid rgb(124, 4, 4);
}

.rev {
  bottom: 0;
}

.bom {
  background: rgb(202, 93, 93);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 25vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 9;
  font-family: Poppins;
  font-size: 25px;
  color: rgb(255, 186, 186);
}

@keyframes revheight {
  0% {
    height: 0;
  }
  100% {
    height: 50%;
  }
}

.loader {
  background: #ffd3d3 !important;
  visibility: visible !important;
  z-index: 9;
}

.result-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  gap: 10px;
}

.result-candid {
  background: #ffc8c8;
  padding: 80px 10px;
  border-radius: 17px;
  border: 2px solid rgb(255, 168, 168);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 15vw;
}

.result-rank {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
}

.sup {
  font-size: 20px;
  margin: -5px;
}

.result-title {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  color: #953131;
}

.sub {
  font-weight: 700;
  color: #c35555;
}

.result-candid > .fs {
  color: rgb(121, 13, 13) !important;
}
